<!DOCTYPE html>
<html>
  <head>
    <title><%=ENV['OPENSHIFT_APP_NAME']%> deployments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%=url '/deployments/css/bootstrap.min.css'%>" rel="stylesheet">
    <link href="<%=url '/deployments/css/bootstrap-theme.min.css'%>" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1><%=ENV['OPENSHIFT_APP_DNS']%></h1>
    <%= yield%>
    <script src="<%=url '/deployments/js/jquery-2.0.3.min.js'%>"></script>
    <script src="<%=url '/deployments/js/bootstrap.min.js'%>"></script>
  </body>
</html>
